@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "IranSans";
    src: url("../fonts/iransans.ttf");
    font-weight: 400;
    font-style: normal;
  }
body {
    @apply bg-white-dark;
    font-family: "IranSans" , Arial, Helvetica, sans-serif;
}

input,
select,
textarea {
    @apply bg-transparent;
}

select {

    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}








/*--------------------Buttons-----------------------*/
.btn {
    @apply w-[200px] h-[55px] rounded-[10px] text-white-main;
}

.btn-primary {
    background: linear-gradient(90deg, #087592 43.67%, #2393B0 97.5%);
}

.languageButton {
    @apply w-[87px] relative h-[60px] rounded-[10px] flex justify-center gap-4 items-center border border-gray-dark cursor-pointer;
}

.languageButton.active {
    @apply rounded-tr-[10px] rounded-tl-[10px] rounded-br-[0px] rounded-bl-[0px];
}

.languageButton img {
    width: 24px;
    height: 24px;
}

.languageButton .dropdown {
    @apply border absolute top-[100%] w-full right-0 bg-white-dark border-gray-dark p-1 rounded-br-[10px] rounded-bl-[10px] z-50;
}
.languageButton .dropdown li {
    @apply p-3 h-[40px] w-[76px]  relative flex justify-between items-center flex-row-reverse my-2 rounded-[10px] z-50;

}
.languageButton .dropdown li::after {
    content: "";
    box-shadow: 0px 0.5px 4px 0px #00000040;
    @apply absolute  w-[3px] rounded-[20px] h-[calc(100%-8px)] bg-secondary-main top-[calc(0)] left-[2px] hidden ;

}
.languageButton .dropdown li:hover {
    @apply bg-gray-main;
    box-shadow: 0px 2px 4px 0px #00000026;

}
.languageButton .dropdown li:hover::after {
    @apply block;
}

/*--------------------Buttons-----------------------*/